<!DOCTYPE html>
<html>
<body>
    <h2>我的計算機</h2>
    <form method="post">
        <input type="number" name="x" placeholder="請輸入x" required>
        <select name="opt">
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">*</option>
            <option value="/">/</option>
        </select>
        <input type="number" name="y" placeholder="請輸入y" required>
        <button type="submit">計算</button>
    </form>
    {% if result is not none %}
        <h3>結果是：{{ result }}</h3>
    {% endif %}
</body>
</html>
